################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/project
/x64/Debug
/project/x64/Debug
/enc_temp_folder
